* {
    margin: 0;
    padding: 0;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

body {
    width: 100%;
}


a:hover {
    color: none;
}

a:link {
    color:none;
}

a:visited {
    color:none;
}

a {
    text-decoration: none;
}

#searchbar {
    margin-top: 3vw;
    padding: 1vw;
    width: 50%;
    font-size: 1.25vw;
    border-color: black;
    border-width: 1px;
    outline: none;
}

.logo {
    margin-top: 7vw;

}

.heading {
    height: 3vw;
    background-color: #c4dbe3;
    width: 100%;
}

.search {
    height:45vw;
    width: 100%;
}

.footer {
    width: 100%;
    height: 2vw;
    position: fixed;
    font-size:1vw;
    bottom:5px;
}

.button {   
    display: inline;
}

.homebutton {
    margin-top: .3vw;
    display: inline;
    width:5vw;
    margin-left: 3vw;
    margin-right: 1vw;
    float: left;
}

.topbutton {
    margin-left: .7vw;
    display: inline;
    margin-top: .15vw;
    font-size: 2vw;
}

.topbutton:hover {
    background-color: white;
    padding-top: 12px;
    margin-top: 0;
    color:black;
}

#left {
    float: left;
}

#right{
    float: right;
    margin-right: .5vw;
}



.ui-autocomplete { max-height: 200px; overflow-y: scroll; overflow-x: hidden;}