* {
    margin: 0;
    padding: 0;
    font-family: "Century Gothic";
}

body{
    background-color: #64645E;
}

.heading {
    height: 3vw;
    background-color: #c4dbe3;
    width: 100%;
}

.homebutton {
    margin-top: .3vw;
    width:5vw;
    margin-left: 3vw;
    margin-right: 1vw;
    float: left;
}

#search {
    position:fixed;
    top: .4vw;
    left: 9vw;
    width: 4vw;
}

#searchbar {
    width: 30%;
    position: fixed;
    font-size: 1.5vw;
    outline: none;
}

#bodi {
    position: fixed;
    width: 100%;
    height: 35vw;
    background-color: black;
}

.button:hover {
    color: #af0000;
}

.button {
    position: fixed;
    color: #565647;
    font-size: 2vw;
}

.entry {
    background-color: white;
    height: 50px;
    width: 250px;
    border-radius: 10px; 
}

.talk {
    position: fixed;
    margin-top: 6vw;
    left: 7vw;
    width: 6vw;
    height: 10px;
    
}

#slogan {
    font-size: 4vw;
}
#descr {
    font-size:2vw;
    margin-top:5vw;
    margin-left: .5vw;
    width:50%;
    text-align: left;
}

#signup {
    top: 0;
    left: 90%;
    text-decoration: none;
}

#logout {
    top: 0%;
    left: 92%;
    text-decoration: none;
}

#login {
    top: 0%;
    left: 83%;
    text-decoration: none;
}

#myclubs {
    top: 0;
    left: 83%;
    text-decoration: none;
}

#contact {
    top: 0%;
    left: 73%;
    text-decoration: none;
}

#about {
    top: 0%;
    left: 65%;
    text-decoration: none;
}

.body-text {
    position:fixed;
    color:white;
}

.boxes {
    position: fixed;
    right:15vw;
    margin-top: 6vw;
    margin-left: 40vw;
    width: 20vw;
}

#fbox {
    float: right;
    width: 20vw;
    padding: .7vw;
    border-radius: 1vw;
    border-width: .2vw;
    margin-top: .5vw;
    font-size: 1.5vw;
}

#register {
    float: right;
    width: 22vw;
    border-width: .2vw;
    padding: .7vw;
    border-radius: 1vw;
    margin-top: 1vw;
    font-size: 3vw;
    background-color: #6fbc53;
    outline: none;
    color:white;
    
}